.ss_detail{
  padding-bottom: 0.8rem;
}
.ss_detail_com_header{
  font-weight: bold;
  padding: 0 0.3rem;
}
.ss_detail_comment{
  padding-top: 0.2rem;
}
.sdc_item{
  padding: 0.1rem 0;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.sdc_item_wrap{
  align-items: center;
  padding: 0.2rem;
}
.sdc_item_avatar{
  flex-shrink: 0;
  overflow: hidden;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-right: 0.2rem;
}
.sdc_item_avatar img{
  width: 100%;
  height: 100%;
}
.sdc_item_name{
  color: #f4be1d;
  margin-bottom: 0.2rem;
}
.sdc_time{
  text-indent: 0.2rem;
  color: #b1b1b1;
}

.sdc_cominput{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff ;
}
.sdc_cominput input{
  width: 100%;
  margin:  0 0.1rem;
  padding: 0.2rem;
}
.sdc_cominput_btn{
  width: 15%;
  text-align: center;
  padding: 0.2rem;
  font-size: 0.28rem;
  color: #fff;
  background: #5d8ef9;
}
